*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color:  #222;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bizarre-piano {
    display: flex;
}

.container {
    background-color: white;
    width: 1000px;
    height: 500px;
}
.key {
    /* nilai var height diperoleh dari nilai var width dikali 4
       nilai var width diperoleh dari nilai var --width di kelas white-key dan black key
     */
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white-key {
    --width: 100px;
    background-color: white;
    border: 1px solid #222;
}

.black-key {
    /*
        nilai var margin-left/right diperoleh dari nilai var --width dibagi -2 
     */
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}