*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color:  #222;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bizarre-piano {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 775px;
    height: 475px;
    border-radius: 25px;
}
.key {
    /* nilai var height diperoleh dari nilai var width dikali 4
       nilai var width diperoleh dari nilai var --width di kelas white-key dan black key
     */
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white-key {
    --width: 100px;
    background-color: white;
    border-top: 5px solid #222;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    
}
.white-key.active {
    background-color: #ccc;
}

.black-key {
    /*
        nilai var margin-left/right diperoleh dari nilai var --width dibagi -2 
     */
    --width: 60px;
    background-color: black;
    border-top: 5px solid #222;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}
.black-key.active {
    background-color: #333;
}